
<section class="section-products">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of filterCategory ">
                <div class="single-product">
                    <div class="part-1">
                        <img class="imgg" src="{{ product.image }}" alt="">
                        <ul>
                            <li><a ><i class="fas fa-shopping-cart"></i></a></li>
                            <li><a><i class="fas fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{ product.title }}</h3>
                        <h4 class="product-price">${{ product.price }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>